<%= render 'header' %>
  <p class="show-title"><%= "#{@seven.years_id}年後 #{@digit_compound}円" %></p>
  <div class="chart">
    <%= column_chart @column_chart, colors: ["#007700"]%>
  </div>


  <div class="show-text">
    <p><%= "開始時の元金は#{@seven.principal.to_s(:delimited)}円" %></p>
    <p><%= "月々の積立額は#{@seven.deposit.to_s(:delimited)}円で年間#{@every_year.to_s(:delimited)}円積み立てました" %></p>
    <p><%= "運用利回り#{@seven.annual_yield_id}%で#{@seven.years_id}年経過すると#{@compound.floor.to_s(:delimited)}円になります" %></p>
    <p><%= "#{@seven.years_id}年間の元金合計#{@principal2.to_s(:delimited)}円" %></p>
    <p><%= "#{@seven.years_id}年間で#{@difference.to_s(:delimited)}円増えました" %></p>

    <div class="show-links">
      <a href="/sevens/new" class="change-btn">
        ＜ 新しく計算する
      </a>
      <a href="/sevens" class="change-btn">
        トップページへ ＞
      </a>
    </div>
  </div>
